<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Art&Design</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
<link rel="stylesheet" href="Home.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.12.5, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site1"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>
  <body data-home-page="index.html" data-home-page-title="Home" class="u-body u-xl-mode"><header class="u-align-right-lg u-align-right-md u-align-right-sm u-align-right-xs u-clearfix u-header u-header" id="sec-8485"><nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse">
          <a class="u-button-style u-nav-link" href="#">
            <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-e597"></use></svg>
            <svg class="u-svg-content" version="1.1" id="svg-e597" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-unstyled"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Publish_Design.html">Publish A Design</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link">Categories</a><div class="u-nav-popup"><ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10"><li class="u-nav-item"><a class="u-button-style u-nav-link u-white">Abstract Art</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-white">Logos</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-white">Pop Culture</a>
</li></ul>
</div>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Login.html">Login</a>
</li></ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-inner-container-layout u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-3"><li class="u-nav-item"><a class="u-button-style u-nav-link"  href="Publish_Design.html">Publish A Design</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link">Categories</a><div class="u-nav-popup"><ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10"><li class="u-nav-item"><a class="u-button-style u-nav-link">Abstract Art</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link">Logos</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link">Pop Culture</a>
</li></ul>
</div>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Login.html">Login</a>
</li></ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav><h4 class="u-headline u-text u-text-1">
        <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-1" href="index.html" data-page-id="526227962">&nbsp; &nbsp;Art&amp;Design</a>
      </h4></header>
    <section class="u-clearfix u-palette-1-light-2 u-section-1" id="sec-8319">
      <h5 class="u-text u-text-1">&nbsp; &nbsp; &nbsp;​Current Trends</h5>
      <h6 class="u-align-right u-text u-text-black u-text-2">See More&nbsp; &nbsp; &nbsp;&nbsp;</h6>
      <div class="u-expanded-width u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-1">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
              <img alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="100" data-image-height="150" src=<%= designs[0].image %> >
              <h4 class="u-align-left u-text u-text-3"><%= designs[0].name %></h4>
              <h5 class="u-align-left u-text u-text-4">
                <span style="font-weight: 700;">by <%= designs[0].user %></span>
                <br>
              </h5>
              <h5 class="u-align-right u-text u-text-5"><%= designs[0].price %></h5>
              <div class="u-border-4 u-border-black u-expanded-width u-line u-line-horizontal u-line-1"></div>
              <p class="u-align-justify u-text u-text-6"><%= designs[0].description %></p>
            </div>
          </div>
          <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-2">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
              <img alt="" class="u-expanded-width u-image u-image-default u-image-2" data-image-width="1280" data-image-height="931" src=<%= designs[1].image %> >
              <h4 class="u-align-left u-text u-text-7"><%= designs[1].name %></h4>
              <h5 class="u-align-left u-text u-text-8">by <%= designs[1].user %></h5>
              <h5 class="u-align-right u-text u-text-9"><%= designs[1].price %></h5>
              <div class="u-border-4 u-border-black u-expanded-width u-line u-line-horizontal u-line-2"></div>
              <p class="u-align-justify u-text u-text-10"><%= designs[1].description %></p>
            </div>
          </div>
          <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-3">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
              <img alt="" class="u-expanded-width u-image u-image-default u-image-3" data-image-width="1042" data-image-height="1280" src=<%= designs[2].image %> >
              <h4 class="u-align-left u-text u-text-11"><%= designs[2].name %></h4>
              <h5 class="u-align-left u-text u-text-12">by <%= designs[2].user %></h5>
              <h5 class="u-align-right u-text u-text-13"><%= designs[2].price %></h5>
              <div class="u-border-4 u-border-black u-expanded-width u-line u-line-horizontal u-line-3"></div>
              <p class="u-align-justify u-text u-text-14"><%= designs[2].description %></p>
            </div>
          </div>
          <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-4">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
              <img alt="" class="u-expanded-width u-image u-image-default u-image-4" data-image-width="150" data-image-height="137" src="<%= designs[3].image %>">
              <h4 class="u-align-left u-text u-text-15"><%= designs[3].name %></h4>
              <h5 class="u-align-left u-text u-text-16">by <%= designs[3].user %></h5>
              <h5 class="u-align-right u-text u-text-17"><%= designs[3].price %></h5>
              <div class="u-border-4 u-border-black u-expanded-width u-line u-line-horizontal u-line-4"></div>
              <p class="u-align-justify u-text u-text-18"><%= designs[3].description %></p>
            </div>
          </div>
          <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-5">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
              <a href="Design_Page.html">
                <img alt="" class="u-expanded-width u-image u-image-default u-image-5" data-image-width="1280" data-image-height="905" src="<%= designs[4].image %>">
              </a>
              <h4 class="u-align-left u-text u-text-19"><%= designs[4].name %></h4>
              <h5 class="u-align-left u-text u-text-20">by <%= designs[4].user %></h5>
              <h5 class="u-align-right u-text u-text-21"><%= designs[4].price %></h5>
              <div class="u-border-4 u-border-black u-expanded-width u-line u-line-horizontal u-line-5"></div>
              <p class="u-align-justify u-text u-text-22"><%= designs[4].description %></p>
            </div>
          </div>
          <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-6">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-6">
              <img alt="" class="u-expanded-width u-image u-image-default u-image-6" data-image-width="1280" data-image-height="853" src="<%= designs[5].image %>" >
              <h4 class="u-align-left u-text u-text-23"><%= designs[5].name %></h4>
              <h5 class="u-align-left u-text u-text-24">by <%= designs[5].user %></h5>
              <h5 class="u-align-right u-text u-text-25"><%= designs[5].price %></h5>
              <div class="u-border-4 u-border-black u-expanded-width u-line u-line-horizontal u-line-6"></div>
              <p class="u-align-justify u-text u-text-26"> <%= designs[5].description %></p>
            </div>
          </div>
          <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-7">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-7">
              <img alt="" class="u-expanded-width u-image u-image-default u-image-7" data-image-width="1280" data-image-height="853" src="<%= designs[6].image %>" >
              <h4 class="u-align-left u-text u-text-27"><%= designs[6].name %></h4>
              <h5 class="u-align-left u-text u-text-28"> by <%= designs[6].user %></h5>
              <h5 class="u-align-right u-text u-text-29"><%= designs[6].price %></h5>
              <div class="u-border-4 u-border-black u-expanded-width u-line u-line-horizontal u-line-7"></div>
              <p class="u-align-justify u-text u-text-30"><%= designs[6].description %><br>
              </p>
            </div>
          </div>
          <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-8">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-8">
              <img alt="" class="u-expanded-width u-image u-image-default u-image-8" data-image-width="1106" data-image-height="1280" src="<%= designs[7].image %>" >
              <h4 class="u-align-left u-text u-text-31"><%= designs[7].name %></h4>
              <h5 class="u-align-left u-text u-text-32">by <%= designs[7].user %></h5>
              <h5 class="u-align-right u-text u-text-33"><%= designs[7].price %></h5>
              <div class="u-border-4 u-border-black u-expanded-width u-line u-line-horizontal u-line-8"></div>
              <p class="u-align-justify u-text u-text-34"> <%= designs[7].description %></p>
            </div>
          </div>
          <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-9">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-9">
              <img alt="" class="u-expanded-width u-image u-image-default u-image-9" data-image-width="1280" data-image-height="853" src="<%= designs[8].image %>" >
              <h4 class="u-align-left u-text u-text-35"> <%= designs[8].name %><br>
              </h4>
              <h5 class="u-align-left u-text u-text-36">by <%= designs[8].user %></h5>
              <h5 class="u-align-right u-text u-text-37"><%= designs[8].price %></h5>
              <div class="u-border-4 u-border-black u-expanded-width u-line u-line-horizontal u-line-9"></div>
              <p class="u-align-justify u-text u-text-38"><%= designs[8].description %></p>
            </div>
          </div>
          <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-10">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-10">
              <img alt="" class="u-expanded-width u-image u-image-default u-image-10" data-image-width="1024" data-image-height="1280" src="<%= designs[9].image %>" >
              <h4 class="u-align-left u-text u-text-39"><%= designs[9].name %></h4>
              <h5 class="u-align-left u-text u-text-40">by <%= designs[9].user %></h5>
              <h5 class="u-align-right u-text u-text-41"><%= designs[9].price %></h5>
              <div class="u-border-4 u-border-black u-expanded-width u-line u-line-horizontal u-line-10"></div>
              <p class="u-align-justify u-text u-text-42"><%= designs[9].description %></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    
  </body>
</html>